In [1]:
import yfinance as yf

In [2]:
stock = yf.download('A500.MI',period='max')

[*********************100%%**********************]  1 of 1 completed

In [3]:
stock

                  Open        High         Low       Close   Adj Close  Volume
Date
2018-03-22   38.529999   38.724998   38.275002   38.494999   38.494999   20477
2018-03-23   37.750000   38.049999   37.610001   37.730000   37.730000   45786
2018-03-26   37.490002   37.540001   36.965000   37.064999   37.064999  282015
2018-03-27   37.915001   38.165001   37.845001   37.924999   37.924999   53260
2018-03-28   37.520000   37.520000   37.080002   37.264999   37.264999   61077
...                ...         ...         ...         ...         ...     ...
2024-07-02   99.459999   99.760002   99.220001   99.720001   99.720001    1710
2024-07-03  100.029999  100.160004   99.629997   99.849998   99.849998    2331
2024-07-04  100.239998  100.279999  100.010002  100.000000  100.000000    1825
2024-07-05  100.129997  100.190002   99.860001  100.110001  100.110001   19015
2024-07-08  100.389999  100.540001  100.269997  100.510002  100.510002    5979

[1600 rows x 6 columns]

In [6]:
stock['2020-02':'2023-01']

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-02-03  53.590000  54.080002  53.349998  53.820000  53.820000  328758
2020-02-04  54.189999  54.689999  54.189999  54.720001  54.720001   42232
2020-02-05  54.580002  55.340000  54.580002  55.270000  55.270000   46446
2020-02-06  55.730000  55.779999  55.500000  55.730000  55.730000  114261
2020-02-07  55.680000  55.810001  55.369999  55.790001  55.790001   17109
...               ...        ...        ...        ...        ...     ...
2023-01-25  70.370003  70.440002  69.496902  69.980003  69.980003    1840
2023-01-26  70.629997  70.940002  70.620003  70.889999  70.889999    2361
2023-01-27  71.250000  71.779999  71.209999  71.639999  71.639999    3431
2023-01-30  71.260002  71.330002  70.750000  71.239998  71.239998    5001
2023-01-31  71.160004  71.290001  70.790001  71.290001  71.290001    2634

[767 rows x 6 columns]